<div class="d-flex flex-column vh-100 p-3 text-white" id="sidebar">
  <ul class="nav flex-column">
    <!-- <li class="nav-item">
      <a class="nav-link nav-link-load" data-page="dashboard/dashboard" id="nav-dashboard-dashboard" href="#">
        <i class="bi bi-grid-1x2-fill me-2"></i> Dashboard
      </a>
    </li> -->
    <li class="nav-item">
      <a class="nav-link nav-link-load" data-page="admin_panel/view_admin_panel" id="nav-admin_panel-view_admin_panel" href="#">
        <i class="bi bi-person-vcard me-2"></i> Patient
      </a>
    </li>
    <!-- <li class="nav-item">
      <a class="nav-link nav-link-load" id="logout" href="#" data-bs-toggle="modal" data-bs-target="#logoutModal">
        <i class="bi bi-box-arrow-right me-2"></i> Logout
      </a>
    </li> -->
    
  </ul>

    <!-- Bottom image -->
  <!-- <div class="mt-auto">
    <img src="/admin/assets/images/doctor.jpg" alt="Logo" class="sidebar-footer-img">
  </div> -->


</div>
